@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model DATN_WebsiteTimKiemViecLam.Models.vChitietvieclam

}

@{
    TimeSpan difference = Model.DTgTuyenDung.Subtract(DateTime.Now);
    int numberOfDays = difference.Days;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Document</title>
    <style>
     #job-description__item--content
     {
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            -webkit-font-smoothing: antialiased !important;
            font-family: Inter,sans-serif;
            box-sizing: border-box;
     }
     p
     {
            font-weight: 400;
     }

        #item {
            text-decoration: none;
            background-color: #fff;
            border-color: #fff;
            border-radius: 4px;
            max-width:405px;
            margin: 5px;
            padding: 12px;
            position: relative;
        }
            /* Hiệu ứng hover cho mục */
            #item:hover {
                background: #eef3ec;
                border-color: #0d6aa5; /* Màu xanh lam */
            }

        #link_dn {
            color: #6f7882;
            text-decoration: none;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
        }

            #link_dn:hover {
                color: #F56444;
            }

        #nameDN {
            text-transform: uppercase;
            color: black;
            text-decoration: none;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            margin-top: 12px;
        }

        .itemdn {
            width: 100% !important;
            height: 250px;
            margin-bottom: 20px;
            border: none;
        }

            .itemdn:hover {
                border: 0.5px solid rgba(97,196,220,255);
                box-shadow: 0 0 5px rgba(97,196,220,255);
            }

        #nameDN:hover {
            color: #F56444;
        }
    </style>
</head>
<body>
    <div style="color:black;">
        <div class="row">
            <div style="color:#003493" class="col-12 col-sm-12 col-lg-12 fs-2">
                <h3 style="text-align: center;  padding: 2%;  text-transform: uppercase;   font-weight: 700;">
                    @Model.STenBai
                </h3>
            </div>
        </div>
        <div style=" border-radius: 15px; margin: 20px;margin-bottom: 50px;" class="row">
            <div style="" class="col-12 col-sm-12 col-lg-8">
                <div class="row">
                    <div class="col-4 col-sm-4 col-lg-4">
                        <div class="salary">
                            <div class="row">
                                <div class="col-3 col-sm-3 col-lg-3">
                                    <i class="fa-solid fa-wallet" style="font-size: 30px; color: #0a58ca; width: 110px;padding-top: 20%; "></i>
                                </div>
                                <div class="col-9 col-sm-9 col-lg-9 " style="  margin: inherit; padding-top: 3%;  text-align: center;   line-height: 20px;">
                                    <b>Mức lương</b>
                                    <p>@Model.FMucLuongtoithieu - @Model.FMucluongtoida Triệu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-lg-4">
                        <div class="local">
                            <div class="row">
                                <div class="col-3 col-sm-3 col-lg-3">
                                    <i class="fa-solid fa-location-dot " style="font-size: 30px; color: #0a58ca; width: 110px; padding-top: 20%;"></i>
                                </div>
                                <div class="col-9 col-sm-9 col-lg-9 fs-6" style=" margin: inherit; padding-top: 3%;  text-align: center;   line-height: 20px;">
                                    <b>Khu vực</b>
                                    <p>@Model.SDiachicuthe</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-lg-4">
                        <div class="experience">
                            <div class="row">
                                <div class="col-3 col-sm-3 col-lg-3">
                                    <i class="fa-solid fa-clock" style="font-size: 30px; color: #0a58ca; width: 110px; padding-top: 20%;"></i>
                                </div>
                                <div class="col-9 col-sm-9 col-lg-9 fs-6" style=" margin: inherit; padding-top: 3%;  text-align: center;  line-height: 20px;">
                                    <b>Kinh nghiệm</b>
                                    @if(@Model.FNamKinhNghiem>0)
                                    {
                                        <p>@Model.FNamKinhNghiem  Năm</p>
                                    }
                                    else
                                    {
                                        <p>Không yêu cầu </p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <p class="text-lg-start">
                            <label class="fw-bold text-lg-start " for="">Số lượng: </label>
                            @Model.ISoLuong <span style="font-size:15px;">ứng viên</span>
                        </p>
                        <p class="text-lg-start">
                            <label class="fw-bold" for="">Yêu cầu: </label>
                            <ul style="font-size:16px;text-align: justify;font-weight: 400;">
                                @Html.Raw(Model.SYeuCau)
                            </ul>
                        </p>
                        <p class="text-lg-start">
                            <label class="fw-bold " for="">Quyền lợi: </label>
                            <ul style="font-size:16px;text-align: justify;">
                                @Html.Raw(Model.SQuyenLoi)  
                            </ul>
                        </p>
                        <p style="font-size:15px;" class="text-lg-start">
                            <label class="fw-bold text-lg-start" for="">Thời gian đăng tải: </label>
                            @Model.DTgDangBai.Value.ToShortDateString()
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-4">
                <a href="@Url.Action("btnGuithongtinUngTuyen","UngVien", new {PKsMabai=Model.PkSMaBai})" class="btn btn-primary btn-lg" style="background: #003493; width: 400px;">ỨNG TUYỂN NGAY</a>
                <p style=" margin-top: 20px; text-align: left;">
                    <i class="fa-solid fa-clock" style="font-size: 30px; color: #0a58ca; padding-top: 5%;"></i>
                    @if(@numberOfDays<0)
                    {
                        <span>Đã hết thời gian ứng tuyển</span>
                    }
                    else
                    {
                        <span>Thời gian ứng tuyển còn @numberOfDays ngày</span>
                    }
                </p>
                <div class="infor-company">
                    <div class="card " style="width: 25rem;">
                        <div class="card" style="width: 21rem; height:250px; padding-left:20px; margin-bottom:20px;border:none">
                            <img src="~/images/11.jpg" alt="Hình ảnh" class="card-img-top p-2">
                            <a style="text-decoration:none;font-size: 12px;font-weight: 500;line-height: 16px;margin-top: 12px;width: 100%;" href="@Url.Action("btnHienthichitietDN","UngVien", new {FkSMaDn=Model.FkSMaDn})" class="card-title ">@Model.STenDn</a>
                        </div>
                        <div class="card-body text-lg-start">
                            <a style="text-decoration:none;color: #003493;  font-size: 14px;   font-style: normal;   font-weight: 600;  letter-spacing: .175px;  line-height: 22px;" href="@Url.Action("btnHienthichitietDN", new {FkSMaDn=Model.FkSMaDn})" class="card-link fs-6">xem thêm chi tiết...</a>
                        </div>
                    </div>
                </div>
                <p class="text-lg-start">
                    <label style="margin-top:20px" class="fw-bold " for="">Địa chỉ cụ thể: @Model.SDiachi </label>
                <div id="map" style=" margin-top:20px; width: 100%; height: 200px;"></div>
                </p>
            </div>
            <div class="dsvl rounded" style="background-color: #003493; ">
                <h5 class="text-white text-uppercase pt-2 pb-2 text-center">GỢI Ý DANH SÁCH VIỆC LÀM</h5>
            </div>
            <div class="content1">
                <div class="row text-center" style="margin-top:20px">
                    @foreach (vDanhsachvieclam item in ViewBag.tblBaituyendung)
                    {
                        <div onclick="DetailsPost(@item.PkSMaBai)" id="item" href="@Url.Action("btnHienthichitietvieclam", new {PkSMaBai=item.PkSMaBai})" class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="data:image/png;base64,@item.SLogo" alt="Hình ảnh" class="item-image card-img-top p-2" @* data-id="@item.PkSMaBai" *@>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 style="color: #212f3f;font-size: 20px;font-weight: 600;line-height: 20px;" class="card-title text-lg-start ">
                                            @item.STenBai
                                        </h5>
                                        <a style="text-transform:uppercase" id="link_dn" href="@Url.Action("btnHienthichitietDN", new {FkSMaDn=item.FkSMaDn})" class="card-text text-lg-start p-0">@item.sTendoanhnghiep</a>
                                        <p class="card-text" style="    margin-top: 20px;">
                                            <small style="font-size:13px;margin-right:20px;background:#f4f5f5;padding:10px;color:#212f3f " class=" rounded">@item.FMucLuong-@item.FMucLuongTD Triệu</small>
                                            <small style="font-size:13px; background:#f4f5f5;padding:10px;color:#212f3f" class=" rounded">@item.sDiachi</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
        </div>
    </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#btnUngTuyen').click(function () {
                $.ajax({
                    url: '@Url.Action("btnGuithongtinUngTuyen")',
                    method: 'POST',
                    success: function (data) {
                        // Xử lý phản hồi thành công nếu cần
                        console.log(data);
                    },
                    error: function (xhr, status, error) {
                        // Xử lý lỗi nếu cần
                        console.error(error);
                    }
                });
            });
        });
            // Hàm để hiển thị bản đồ với tọa độ của một địa chỉ cụ thể
            function initMap() {
                var geocoder = new google.maps.Geocoder();
                var address = "@Model.SDiachi"; // Địa chỉ bạn muốn hiển thị

                geocoder.geocode({ 'address': address }, function (results, status) {
                    if (status === 'OK') {
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 15,
                            center: results[0].geometry.location
                        });

                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            }
    <!-- Nhúng API Google Maps -->
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuZL5E6pDgbYVpFdxPGaqC9phmFV7ZzpU&callback=initMap" async defer></script>

</body>
</html>
