@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList< DATN_WebsiteTimKiemViecLam.Models.vDanhsachvieclam>
@{
    int img = 10;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="~/css/vdanhsachvieclam.css" rel="stylesheet" />
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <style>
        /* CSS cho các mục trong danh sách việc làm */
        #item {
            text-decoration: none;
            max-width: 400px;
            background-color: #fff;
            border-color: #fff;
            border-radius: 4px;
            margin: 5px;
            padding: 12px;
            position: relative;
        }
        /* Hiệu ứng hover cho mục */
        #item:hover {
                background: #eef3ec;
                border-color: #0d6aa5; /* Màu xanh lam */
            }
        #link_dn
        {
            color: #6f7882;
            text-decoration: none;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
        }

        #link_dn:hover
        {
            color: #F56444;
        }
        #nameDN
        {
           text-transform: uppercase; 
           color: black; 
           text-decoration: none; 
           font-size: 12px; 
           font-weight: 500; 
           line-height: 16px; 
           margin-top: 12px;
        }
         .itemdn
         {
            width: 100% !important;
            height: 250px;
            margin-bottom: 20px;
            border: none;
         }

        .itemdn:hover {
                border: 0.5px solid rgba(97,196,220,255);
                box-shadow: 0 0 5px rgba(97,196,220,255);
        }
        #nameDN:hover{
            color: #F56444;
        }
    </style>
    <script>
        function updateStatus() {
            $.ajax({
                url: '/Doanhnghiep/LoadStatus',
                type: 'GET',
                success: function (data) {
                    // Xử lý kết quả trả về nếu cần
                    $.ajax({
                        url: '/Doanhnghiep/GetItemBaidang',
                        type: 'GET',
                        success: function (partialHtml) {
                            $('#content').empty(); // Remove existing content before appending new content
                            $('#content').append(partialHtml);
                        },
                        error: function (xhr, status, error) {
                            console.error("Đã xảy ra lỗi khi lấy partial view:", error);
                        }
                    });
                    // Load lại trạng thái bài đăng sau khi cập nhật thành công
                },
                error: function (xhr, status, error) {
                    // Xử lý lỗi nếu có
                    console.error("Đã xảy ra lỗi khi cập nhật tình trạng bài đăng:", error);
                }
            });
        }

        $(document).ready(function () {
            updateStatus();
        });

        function DetailsPost(PkSMaBai) {
            $.ajax({
                url: '/UngVien/btnHienthichitietvieclam?PkSMaBai=' + PkSMaBai, // Đường dẫn đến hàm Xoa trong controller
                type: 'GET', // Sử dụng phương thức DELETE
                success: function (result) {
                    $("body").html(result)
                    // location.reload();
                },
                error: function (xhr, status, error) {
                    alert(error); // Hiển thị thông báo khi xóa không thành công
                }
            });
        }
    </script>
</head>
<body style="font-family: system-ui">
    <h6 style="text-transform:uppercase; color: #003493; font-size: 30px;font-weight: 700;line-height: 28px;margin: 40px auto 40px;width: 97%;" class="text-center">
        Chào mừng bạn đến với trang tìm kiếm việc làm FreeWork
    </h6>
    <div style="margin: 0 auto" class="row justify-content-center">
        <div class="col-sm-12 col-lg-12">
            <!-- Form tìm kiếm -->
            <form asp-controller="UngVien" asp-action="btnTimkiemViecLam" method="post">
                <div style="height:70px; " class="row text-center">
                    <div style="padding:5px;  width:210px" class="col-sm-2 col-lg-2">
                        <input class="form-control" name="txtTencongviec" placeholder="Tên công việc..." type="text" value="" oninput="saveText()" />
                    </div>
                    <div style="padding:5px; width:210px" class="col-sm-2 col-lg-2">
                        <div class="input-group flex-nowrap">
                            <select class="form-select item-search" name="txtMucluong">
                                <option value="0">Mức lương </option>
                                <option value="3000000">trên 3 triệu </option>
                                <option value="6000000">trên 6 triệu</option>
                                <option value="10000000">trên 10 triệu</option>
                                <option value="15000000">trên 15 triệu</option>
                            </select>
                        </div>
                    </div>
                    <div style="padding:5px; width:210px" class="col-sm-2 col-lg-2">
                        <div class="input-group flex-nowrap">
                            <select class="form-select item-search" name="txtDiachi" aria-label="Default select example">
                                <option value="">Địa chỉ</option>
                                <option value="Hà Nội">Hà Nội</option>
                                <option value="Hà Nam">Hà Nam</option>
                                <option value="TP HCM">TP HCM</option>
                                <option value="An Giang">An Giang</option>
                                <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
                                <option value="Bắc Giang">Bắc Giang</option>
                                <option value="Bắc Kạn">Bắc Kạn</option>
                                <option value="Bạc Liêu">Bạc Liêu</option>
                                <option value="Bắc Ninh">Bắc Ninh</option>
                                <option value="Bến Tre">Bến Tre</option>
                                <option value="Bình Định">Bình Định</option>
                                <option value="Bình Dương">Bình Dương</option>
                                <option value="Bình Phước">Bình Phước</option>
                                <option value="Bình Thuận">Bình Thuận</option>
                                <option value="Cà Mau">Cà Mau</option>
                                <option value="Cao Bằng">Cao Bằng</option>
                                <option value="Đắk Lắk">Đắk Lắk</option>
                                <option value="Đắk Nông">Đắk Nông</option>
                                <option value="Điện Biên">Điện Biên</option>
                                <option value="Đồng Nai">Đồng Nai</option>
                                <option value="Đồng Tháp">Đồng Tháp</option>
                                <option value="Gia Lai">Gia Lai</option>
                                <option value="Hà Giang">Hà Giang</option>
                                <option value="Hà Tĩnh">Hà Tĩnh</option>
                                <option value="Hải Dương">Hải Dương</option>
                                <option value="Hậu Giang">Hậu Giang</option>
                                <option value="Hòa Bình">Hòa Bình</option>
                                <option value="Hưng Yên">Hưng Yên</option>
                                <option value="Khánh Hòa">Khánh Hòa</option>
                                <option value="Kiên Giang">Kiên Giang</option>
                                <option value="Kon Tum">Kon Tum</option>
                                <option value="Lai Châu">Lai Châu</option>
                                <option value="Lâm Đồng">Lâm Đồng</option>
                                <option value="Lạng Sơn">Lạng Sơn</option>
                                <option value="Lào Cai">Lào Cai</option>
                                <option value="Long An">Long An</option>
                                <option value="Nam Định">Nam Định</option>
                                <option value="Nghệ An">Nghệ An</option>
                                <option value="Ninh Bình">Ninh Bình</option>
                                <option value="Ninh Thuận">Ninh Thuận</option>
                                <option value="Phú Thọ">Phú Thọ</option>
                                <option value="Quảng Bình">Quảng Bình</option>
                                <option value="Quảng Nam">Quảng Nam</option>
                                <option value="Quảng Ngãi">Quảng Ngãi</option>
                                <option value="Quảng Ninh">Quảng Ninh</option>
                                <option value="Quảng Trị">Quảng Trị</option>
                                <option value="Sóc Trăng">Sóc Trăng</option>
                                <option value="Sơn La">Sơn La</option>
                                <option value="Tây Ninh">Tây Ninh</option>
                                <option value="Thái Bình">Thái Bình</option>
                                <option value="Thái Nguyên">Thái Nguyên</option>
                                <option value="Thanh Hóa">Thanh Hóa</option>
                                <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
                                <option value="Tiền Giang">Tiền Giang</option>
                                <option value="Trà Vinh">Trà Vinh</option>
                                <option value="Tuyên Quang">Tuyên Quang</option>
                                <option value="Vĩnh Long">Vĩnh Long</option>
                                <option value="Vĩnh Phúc">Vĩnh Phúc</option>
                                <option value="Yên Bái">Yên Bái</option>
                                <option value="Phú Yên">Phú Yên</option>
                                <option value="Cần Thơ">Cần Thơ</option>
                                <option value="Đà Nẵng">Đà Nẵng</option>
                                <option value="Hải Phòng">Hải Phòng</option>

                            </select>
                        </div>
                    </div>
                    <div style="padding:5px; width:210px" class="col-sm-2 col-lg-2">
                        <div class="input-group flex-nowrap">
                            <select class="form-select item-search" name="txtKinhnghiem">
                                <option value="100">Kinh nghiệm</option>
                                <option value="1">dưới 1 năm </option>
                                <option value="2">1-2 năm</option>
                                <option value="3">Trên 3 năm </option>
                                <option value="100">Không yêu cầu</option>
                            </select>
                        </div>
                    </div>
                    <div style="padding:5px; width:210px" class="col-sm-2 col-lg-2">
                        <div class="input-group flex-nowrap">
                            <select class="form-select item-search" name="dThoigiandangtuyen">
                                <option value="100">Ngày đăng tải </option>
                                <option value="1">Mới nhất </option>
                                <option value="3">3 ngày trước</option>
                                <option value="7">7 ngày trước </option>
                                <option value="15">15 ngày trước</option>
                            </select>
                        </div>
                    </div>
                    <div style="padding:5px;  width:210px" class="col-sm-2 col-lg-2">
                        <button style="padding:5px; width:240px;background:#003493" type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            Tìm kiếm
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Bootstrap Carousel -->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" @* aria-hidden="true" *@></span>
            <span class="sr-only">Next</span>
        </a>
        <div class="carousel-inner">
            <div style=" z-index: 1; margin: 0 auto; margin-bottom: 10px; " class="carousel-item active">
                <img style="width:100%" src="~/images/2.jpg" />
            </div>
            <div style="z-index: 1; margin: 0 auto; margin-bottom: 10px; width: 1300px" class="carousel-item">
                <img style="width:100%" src="~/images/1.jpg" />
            </div>
            <div style="z-index: 1; margin: 0 auto; margin-bottom: 10px; width: 1300px" class="carousel-item">
                <img style="width:100%" src="~/images/3.jpg" />
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" @* aria-hidden="true" *@></span>
            <span class="sr-only">Previous</span>
        </a>
    </div>
    <!-- Kết thúc Bootstrap Carousel -->



    <!-- Danh sách việc làm -->
    <div class="content1" style="color:black;margin: 0 auto">
        <h5 style="font-weight: 700; margin-bottom: 10px; margin-right: auto; margin-top: 30px;color:#003493" class="fs-3 fw-bold d-flex flex-nowrap">
            Công việc tốt nhất
        </h5>
        <div class="row text-center">
            @foreach (var item in Model)
            {
                    <div onclick="DetailsPost(@item.PkSMaBai)" id="item" style="max-width: 430px !important;" href="@Url.Action("btnHienthichitietvieclam", new {PkSMaBai=item.PkSMaBai})" class="card mb-3">
                        <div class="row g-0">
                        <div class="col-md-4" >
                            <img src="data:image/png;base64,@item.SLogo" alt="Hình ảnh" class="item-image card-img-top p-2" @* data-id="@item.PkSMaBai" *@>
                        </div>
                        <div class="col-md-8" >
                            <div class="card-body">
                                <h5 style="color: #212f3f;font-size: 20px;font-weight: 600;line-height: 20px;" class="card-title text-lg-start ">
                                    @item.STenBai
                                </h5>
                                <a id="link_dn" href="@Url.Action("btnHienthichitietDN", new {FkSMaDn=item.FkSMaDn})"  class="card-text text-lg-start p-0">@item.sTendoanhnghiep</a>
                                <p class="card-text">
                                    <small style="font-size:13px;margin-right:20px;background:#f4f5f5;padding:10px;color:#212f3f " class=" rounded">@item.FMucLuong-@item.FMucLuongTD Triệu</small>
                                    <small style="font-size:13px; background:#f4f5f5;padding:10px;color:#212f3f" class=" rounded">@item.sDiachi</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- Phân trang -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("btnHienthidanhsachVL", new { page = ViewBag.CurrentPage - 1 })" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("btnHienthidanhsachVL", new { page = i })">@i</a>
                        </li>
                    }
                    <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("btnHienthidanhsachVL", new { page = ViewBag.CurrentPage + 1 })" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
        <div class="content2">
        <h5 style="font-weight: 700; margin-bottom: 10px; margin-right: auto; margin-top: 30px;color:#003493" class="fs-3 fw-bold d-flex flex-nowrap">Doanh nghiệp top đầu</h5>
        <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
            <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" @* aria-hidden="true" *@></span>
                <span class="sr-only">Next</span>
            </a>
            <div class="carousel-inner">
                    @for (var i = 0; i < ViewBag.model1Data.Count; i += 4)
                    {
                    @if (i == 0)
                    {
                        <div style="width:100%; z-index: 1; margin: 0 auto; margin-bottom: 10px; " class="carousel-item active">
                            <div class="row">
                                @for (var j = i; j < i + 4 && j < ViewBag.model1Data.Count; j++)
                                {
                                    String name = img.ToString() + ".jpg";
                                    TblDoanhnghiep item = ViewBag.model1Data[j];
                                     <div class="col-sm-3">
                                        <a style="text-transform: uppercase; color: black; text-decoration: none; font-size: 12px; font-weight: 500; line-height: 16px;" href="@Url.Action("btnHienthichitietDN", "UngVien", new { FkSMaDn = item.PkSMaDn })">
                                            <div class="itemdn card" >
                                                <img height=180px src="~/images/@name" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <span id="nameDN"  class="card-title">@item.STenDn</span>
                                                </div>
                                            </div>
                                        </a>
                                        @{
                                            img = img + 1;
                                        }
                              </div>
                                 
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div style="width:100%; z-index: 1; margin: 0 auto; margin-bottom: 10px; " class="carousel-item">
                            <div class="row">
                                @for (var j = i-3; j < i + 1 && j < ViewBag.model1Data.Count; j++)
                                {
                                    String name = img.ToString() + ".jpg";

                                    TblDoanhnghiep item = ViewBag.model1Data[j];
                                    <div class="col-sm-3">
                                        <a style="text-transform: uppercase; color: black; text-decoration: none; font-size: 12px; font-weight: 500; line-height: 16px;" href="@Url.Action("btnHienthichitietDN", "UngVien", new { FkSMaDn = item.PkSMaDn })">
                                            <div class="itemdn card">
                                                <img height=180px src="~/images/@name" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <span id="nameDN" class="card-title">@item.STenDn</span>
                                                </div>
                                            </div>
                                        </a>
                                        @{
                                            img = img + 1;
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="sr-only">Previous</span>
            </a>
        </div>
            </div>
    <script>
        function saveText() {
            var text = document.getElementById('textbox').value;
            sessionStorage.setItem('savedText', text);
        }
        // Khởi tạo carousel khi tài liệu đã tải hoàn tất
        $(document).ready(function () {
            $('#carouselExampleIndicators').carousel();
            $('#carouselExampleIndicators1').carousel();
        });
    </script>
</body>
</html>
