@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="color:black">
<h5 style="color:#3D3BB2" class="fs-3 fw-bold d-flex flex-nowrap">DANH SÁCH DOANH NGHIỆP</h5>
<div class="content2">
    <div class="row text-center">
        @foreach (TblDoanhnghiep item in ViewBag.model1Data)
        {
            <div class="col-sm-3 col-lg-3">
                <div class="card" style="width: 18rem;height:200px; padding-left:20px; margin-bottom:20px;">
                    <img style="height:120px" src="data:image/png;base64,@item.SLogo" alt="Hình ảnh" data-id="@item.SLogo" class="card-img-top p-2">
                    <div class="card-body">
                        <div>
                                <a style="text-decoration:none" href="@Url.Action("btnHienthichitietDN","UngVien", new {FkSMaDn=item.PkSMaDn})" class="card-title fs-6 text-black ">@item.STenDn</a>
                                @* <a style="text-decoration: none" @Url.Action("UngVien","btnHienthichitietDN",item.PkSMaDn) class="card-title fw-bold text-black fs-6">@item.STenDn</a> *@
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</div>